/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */


/*
.margin-top-80 {
  margin-top: 80px;
}
*/


body {
  /*padding: 5px;*/
  /*margin: 15px;*/
  font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  background-image: url("/Web-Design-Challenge/WebVisualizations/Resources/slamdunk3.jpg");
}


header {
  background: #333;
  background-color: grey;
  border-radius: 0px;
}

h1 {
  padding: 10px;
  margin: 20px;
  font-size: 36px;
  color: orangered;
  background-color:lightgray;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px grey ;
}

h2 {
  font-size: 20px;
  padding-top: 0px 
}


h3 {
  font-size: 14px;
}


.box {
  padding: 30px; 
  border-color: black ;
  background: lightgray;
  margin-inline-start: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px grey ;
}
.comparisonsbox {
  padding: 10px; 
  border-color: black ;
  background: lightgray;
  margin-inline-start: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px grey ;
}
#solidborder {
  border-style: solid;
  border-color: orangered ;
}