/* Styling for HTML elements */
/* CREATED BY : PAUL HARDY */
/* CREATED ON: SEPT 8, 2020 */


body {
  /*padding: 5px;*/
  /*margin: 15px;*/
  font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  background-image: url("/Web-Design-Challenge/WebVisualizations/Resources/slamdunk3.jpg");
}


header {
  background: #333;
  background-color: grey;
  border-radius: 0px;
}

h1 {
  font-size: 36px;
  padding: 10px;
  margin: 20px;
  color: orangered;
  background-color:lightgray;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px grey ;
}

h2 {
  font-size: 22px;
  padding-top: 10px ;
  color: orangered;
  background-color: darkslategray  ;
  border-radius: 5px;
  padding: 10px;
}


h3 {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px ;
}

.box {
  padding: 20px; 
  border-color: black ;
  background: lightgray;
  margin-inline-start: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px grey ;
}
.comparisonsbox {
  padding: 20px; 
  border-color: black ;
  background: lightgray;
  margin-inline-start: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px grey ;
}

.tablebox {
  padding: 10px; 
  margin-bottom: 10px;
  border-color: black ;
  background: whitesmoke;
  margin-inline-start: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px grey ;
  font-size: 14px;
}

ul li a:hover {

  background-color:orangered;

}

#solidborder {
  border-style: solid;
  border-color: orangered ;
}

img.one {
  height: 60%;
  width: 60%;
}